{{define "title"}}Home{{end}}

{{define "main"}}
	<h2>Latest Entries</h2>
	{{if .Entries}}
	<table>
		<tr>
			<th>Player</th>
			<th>Picks</th>
			<th>Points</th>
		</tr>
		{{range .Entries}}
		<tr>
			<td><a href='/entry/view?id={{.ID}}'>{{.PlayerName}}</a></td>
			<td>PicksCount</td>
			<td>{{.Points}}</td>
		</tr>
		{{end}}
	</table>
	{{else}}
		<p>There's nothing to see here... yet!</p>
	{{end}}
{{end}}