{{define "title"}}Home{{end}}

{{define "main"}}
	<h2>Latest Entries</h2>
	{{if .Entries}}
	<table>
		<tr>
			<th>Player + Year</th>
			<th>Points</th>
			<th>Created</th>
			<th>ID</th>
		</tr>
		{{range .Entries}}
		<tr>
			<td><a href='/entry/view?id={{.ID}}'>{{.PlayerName}} {{.Year}}</a></td>
			<td>{{.Points}}</td>
			<td>{{humanDate .Created}}</td>
			<td>#{{.ID}}</td>
		</tr>
		{{end}}
	</table>
	{{else}}
		<p>There's nothing to see here... yet!</p>
	{{end}}
{{end}}