{{define "title"}}Entry #{{.Entry.ID}}{{end}} 

{{define "main"}}
	{{with .Entry}}
	<div class='snippet'>
		<div class='metadata'>
			<strong>{{.PlayerName}}</strong>
			<strong>{{.Year}}</strong>
			<span>#{{.ID}}</span>
		</div>
		<pre><code>{{printf "%.1f" .Points}} Points{{if .Picks}} on {{len .Picks}} Picks {{end}}</code></pre>

		<!-- <div class='metadata'>
			<time>Created: {{humanDate .Created}}</time>
		</div> --> 

		<!-- list of all picks associated with this entry --> 
		{{if .Picks}}
		<h3>Picks</h3>
			<table>
			<tr>
				<th>Team</th>
				<th>Record</th>
				<th>Projected Record</th>
				<th>Wins Line</th>
				<th>Over/Under</th>
				<th>Lock</th>
				<th>Points</th>
			</tr>
			{{range .Picks}}
			<tr>
				<td>{{.TeamName}}</td>
				<td>{{.WinsActual}} - {{.LossesActual}}</td>
				<td>{{if or .WinsProjected .LossesProjected}}{{printf "%.1f" .WinsProjected}} - {{printf "%.1f" .LossesProjected}}{{end}}</td>
				<td>{{printf "%.1f" .WinsLine}}</td>
				<td>{{if .OverSelected}}OVER{{else}}UNDER{{end}}</td>
				<td>
					{{if .NosweatLockSelected}}
						NO-SWEAT
					{{else if .LockSelected}}
						LOCK
					{{end}}
				</td>
				<td>{{printf "%.1f" .Points}}</td>
			</tr>
			{{end}}
			</table>
		{{end}}
	</div>
	{{end}}
{{end}}