{{define "title"}}Entry #{{.Entry.ID}}{{end}}

{{define "main"}}
	<div class='snippet'>
		<div class='metadata'>
			<strong>{{.Entry.PlayerName}}</strong>
			<strong>{{.Entry.Year}}</strong>
			<span>#{{.Entry.ID}}</span>
		</div>
		<pre><code>{{.Entry.Points}}</code></pre>
		<div class='metadata'>
			<time>Created: {{.Entry.Created}}</time>
		</div>
	</div>
{{end}}